<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
    	You successfully booked the flight : <%= @flight.id %>.<br>
    </p>
  </body>
</html>