<div class="container">
	<h2> <%= current_user.firstname.capitalize %> <%= current_user.lastname.capitalize %> </h2>
	<ul class="nav nav-tabs">
		<li class="nav-item">
			<%= link_to "Edit your informations", edit_user_registration_path, class: "nav-link" %>
		</li>
	</ul>

	<div class="card">

	</div>
</div>